<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Batalla</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="styles.css" />
		<script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
		<script src="index.js" defer></script>
	</head>

	<body>
		<header>
			<h1>Batalla</h1>
		</header>
		<div id="game">
			<section id="monster" class="container">
				<h2>Monstro</h2>
				<div class="healthbar">
					<div
						class="healthbar__value"
						:style="{width:monsterLife}"
					></div>
				</div>
			</section>
			<section id="player" class="container">
				<h2>Vostede</h2>
				<div class="healthbar">
					<div
						class="healthbar__value"
						:style="{width:playerLife}"
					></div>
				</div>
			</section>
			<section class="container" v-if="victor != ''">
				<h2>Fin partida!</h2>
				<h3 v-show="victor === 'monster'">Perdiches!</h3>
				<h3 v-show="victor === 'player'">Ganaches</h3>
				<h3 v-show="victor === 'draw'">Empate</h3>
				<button @click="initializeGame">Novo xogo</button>
			</section>
			<section id="controls" v-if="!isGameEnded">
				<button @click.stop="normalAttack" @click="turnCount++">
					ATAQUE
				</button>
				<button :disabled="isSpecialActive" @click.stop="specialAttack">
					ATAQUE ESPECIAL
				</button>
				<button @click.stop="healing" @click="turnCount++">
					CURACIÓN
				</button>
				<button @click.stop="playerGiveUp">RENDERSE</button>
			</section>
			<section id="log" class="container">
				<h2>Rexistro da batalla</h2>
				<ul>
					<li v-for="log in logs.slice().reverse() ">
						<p :style="{display:'inline'}" :class="log.logClass">
							{{log.user}}
						</p>
						{{log.action}}
						<p :style="{display:'inline'}" :class="log.pointClass">
							{{log.points}}
						</p>
					</li>
				</ul>
			</section>
		</div>
	</body>
</html>
